<form action="" id="form-login">
    <label for="email">Email</label>
    <input type="text" name="email" id="email" required>
    <label for="password"></label>
    <input type="password" name="password" id="password" required>
    <button type="submit">Ingresar</button>
</form>

<div>
    <h3>Aun no creaste una cuenta? <a href="/register">Regsitrate!</a></h3>
</div>

<script src="/js/login.js"></script>